.label {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
    display: block;
    width: 30%;
    margin: 0 0 20px;
    padding: 10px 25px;
    border: 0;
    border-bottom: 2px solid #D8BFD8;
  }