@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$grey-color: #818384;
$pink-color: #e3378d;
$blue-color: #3cbed0;
$white-color: #ffffff;
$background-color: #121213;

* {
  color: $white-color;
  font-family: "Press Start 2P", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: $background-color;
  //background-color: #B0DFE7;
}

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titleContainer {
  // width: 510px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #3a3a3c;
  //text-shadow: 3px 3px 1px #00FFFF;
  //text-shadow: -0.5em 0 yellow,  0.5em 0 cyan;
  //text-shadow: 4px 2px 0 #e3378d, 8px 4px 0 #4E2561;
  //text-shadow: 4px 2px 0 #e3378d, 8px 4px 0 #0ffbf9;
  text-shadow: 4px 2px 0 $pink-color, 6px 4px 0 $blue-color;
 // text-shadow: 1px -3px 0 #fd00fb, -3px 1px 0 #0ffbf9;

  h1 {
    color: $white-color;
  }

}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.displayContainer {
  width: 248px;
  height: 60px;
  overflow: hidden;
  margin-bottom: 40px;
  border-bottom: 2px solid $pink-color;

  p {
    text-align: right;
  }

  span {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.displayBinaryContainer {
  @extend .displayContainer;
  margin-bottom: 30px;
}

.keyboardContainer {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  justify-content: center;
  //background-color: #D8BFD8;
}

.keyboardContainer button {
  margin: 4px;
  width: 43px;
  height: 58px;
  border: none;
  border-radius: 4px;
  //background-color: #D8BFD8;
  background-color: $grey-color;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    background-color: #d8bfd8;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.keyboardContainer button:nth-child(16) {
  width: 195px;
}

.menuContainer {
  left: 25px;
  display: flex;
  bottom: 25px;
  row-gap: 10px;
  height: 200px;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;

  .menuButton {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    background-color: #818384;
    transition: all 0.3s ease-out;
    box-shadow: 0px 5px 5px rgba($color: #fff, $alpha: 0.1);

    .icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.3 ease-out;

      i {
        font-size: 25px;
        color: #d8bfd8;
        line-height: 60px;
        transition: all 0.3 ease-out;
      }
    }

    span {
      font-size: 10px;
      font-weight: 500;
      line-height: 60px;
      margin-left: 10px;
      transition: all 0.3 ease-out;
    }

    &:nth-child(1) {
      span {
        color: #d8bfd8;
      }
    }

    &:nth-child(2) {
      span {
        color: #d8bfd8;
      }
    }

    &:nth-child(3) {
      span {
        color: #d8bfd8;
      }
    }

    &:hover {
      i {
        color: #818384;
      }
    }

    &:nth-child(1):hover {
      width: 210px;
      .icon {
        background-color: #d8bfd8;
      }
    }

    &:nth-child(2):hover {
      width: 220px;
      .icon {
        background-color: #d8bfd8;
      }
    }

    &:nth-child(3):hover {
      width: 180px;
      .icon {
        background-color: #d8bfd8;
      }
    }
  }
}
